/* ci dessous header*/



#header {
  background-color:aqua
}
h1 {
  text-align: center;
  color:#4b4c4d;
}
p {
  text-align: center;
  color: #4b4c4d;
  font-size: large;
}
.contenair {
  display: flex;
  justify-content: center;
}
.button {
  background-color:#4b4c4d;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  color:beige;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
/* ci dessous footer*/

  .footer-basic .copyright {
    margin-top:100px;
    text-align:center;
    font-size:25px;
    color:#4b4c4d;
    margin-bottom:0;
  }