/*header*/



#header {
  background-color:aqua
}
h1 {
  text-align: center;
  color:#4b4c4d;
}
p {
  text-align: center;
  color: #4b4c4d;
  font-size: large;
}
.contenair {
  display: flex;
  justify-content: center;
}
.button {
  background-color:#4b4c4d;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  color:beige;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
/*section index*/

.history {
  max-width: 750px;
  margin: auto;
}

/*section about-me*/

/*section my-passions*/

.container {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
}
#my-passions {
  justify-content: space-around;
}
#my-passions2 {
  justify-content: space-around;
}

/*??*/

.my-life {
  max-width: 750Px;
  margin: auto;
}


h1 {
  background-color: blue;
  color:gold;
}
p {
  font-size: x-large; 
  color: black;
  }


/*language table about-me*/

  
  table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
  }
  
  td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
  }
  
  th {
    background-color: rgb(235,235,235);
  }
  
  td {
    text-align: center;
  }
  
  tr:nth-child(even) td {
    background-color: rgb(250,250,250);
  }
  
  tr:nth-child(odd) td {
    background-color: rgb(245,245,245);
  }
  
  caption {
    padding: 10px;
  }


/*footer*/

  .footer-basic .copyright {
    margin-top:100px;
    text-align:center;
    font-size:25px;
    color:#4b4c4d;
    margin-bottom:0;
  }